<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="heading">
                <h3 class="uppercase">Torrents</h3>
            </li>
            <li ng-repeat="item in menuItems" class="{{ isActive(item) ? 'active' : '' }}">
                <a href="{{item.url}}">
                    <i class="fa {{ item.icon }}"></i>
                    <span class="title">{{ item.name }}</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Actions</h3>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="items-table-container">
            <div>
                <div class="torr-list-header-wrapper" >
                    <div class="list-divider top-divider"></div>
                    <div class="relative-wrapper">
                        <div class="h4-wrapper">
                            <h4>Torrents list</h4>
                        </div>
                        
                        <div class="torrents-list-wrapper">
                            <div ng-include src="'/Templates/torrentsList.html'"></div>
                        </div>
                    </div>
                    <div class="list-divider"></div>
                </div>
                <div class="torrent-info-wrapper">
                    <div ng-include src="'/Templates/torrentInfo.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2014 &copy; Metronic by keenthemes.
        </div>
        <div class="page-footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
</div>
<!-- END CONTENT -->
