
<div class="portlet box grey-silver tabbable torrent-info-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-info-circle"></i>Torrent details
        </div>
    </div>
    <div class="portlet-body">
        <div class="tabbable portlet-tabs">
            <ul class="nav nav-tabs">
                <li class="{{$index==0 ? 'active' : ''}}" ng-repeat="tab in infoTabs">
                    <a href="{{'#portlet_tab_' + ($index + 1)}}"
                       data-toggle="tab"><span ng-bind="tab.Name"></span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active"
                     id="portlet_tab_4">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Name</th>
                            <th>State</th>
                            <th>UpdateAfter</th>
                            <th>Seeds</th>
                            <th>Peers</th>
                            <th>Downloaded</th>
                        </tr>
                        <tr ng-repeat="item in infoTabs.PeersInfo.Data">
                            <th>{{item.Name}}</th>
                            <th>{{item.State}}</th>
                            <th>{{item.UpdateAfter}}</th>
                            <th>{{item.Seeds}}</th>
                            <th>{{item.Peers}}</th>
                            <th>{{item.Downloaded}}</th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane active"
                     id="portlet_tab_2">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Ip</th>
                            <th>Client</th>
                            <th>Flags</th>
                            <th>Percentage</th>
                            <th>DownloadingSpeed</th>
                            <th>PeerDownloadingSpeed</th>
                            <th>UploadingSpeed</th>
                            <th>Requests</th>
                            <th>Uploaded</th>
                            <th>Downloaded</th>
                        </tr>
                        <tr ng-repeat="item in infoTabs.PeersInfo.Data">
                            <td>{{item.Ip}}</td>
                            <td>{{item.Client}}</td>
                            <td>{{item.Flags}}</td>
                            <td>{{item.Percentage}}</td>
                            <td>{{item.DownloadingSpeed}}</td>
                            <td>{{item.PeerDownloadingSpeed}}</td>
                            <td>{{item.UploadingSpeed}}</td>
                            <td>{{item.Requests}}</td>
                            <td>{{item.Uploaded}}</td>
                            <td>{{item.Downloaded}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane active"
                     id="portlet_tab_3">
                    <div class="form-body">
                        <div ng-repeat="item in infoTabs.TorrentInfo.Data" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{item.Id}}:</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static">
                                            &nbsp;
                                            {{item.Name}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </div>
                <div class="tab-pane active"
                     id="portlet_tab_1">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Downloaded</th>
                            <th>Name</th>
                            <th>Percentage</th>
                            <th>Priority</th>
                            <th>Size</th>
                        </tr>
                        <tr ng-repeat="item in infoTabs.FilesInfo.Data">
                            <td>{{item.Downloaded}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Percentage}}</td>
                            <td>{{item.Priority}}</td>
                            <td>{{item.Size}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
