
<div class="portlet box grey-silver tabbable torrent-info-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-info-circle"></i>Torrent details
        </div>
    </div>
    <div class="portlet-body">
        <div class="tabbable portlet-tabs">
            <ul class="nav nav-tabs">
                <li class="{{$index==0 ? 'active' : ''}}" ng-repeat="tab in infoTabs">
                    <a href="{{'#portlet_tab_' + ($index + 1)}}"
                       data-toggle="tab"><span ng-bind="tab.name"></span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-repeat="tab in infoTabs"
                     class="tab-pane {{$index==0 ? 'active' : ''}}"
                     id="portlet_tab_{{$index + 1}}">
                    <div class="form-body">
                        <div ng-repeat="item in tab.properties" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{item.name}}:</label>
                                    <div class="col-md-10">
                                        <p class="form-control-static">
                                            {{item.value}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
