<table style="margin-bottom: 0px;" class="table table-striped table-bordered table-hover dataTable no-footer">

    <tr ng-click="setActive(item)" class="{{ item.selected  ? 'selected' : '' }}" ng-repeat="item in filteredTorrents()">
        <td style="position: relative" >
            <div class='torrent-name'>
                <h4 ng-bind="item.Name"></h4>
                <div ng-show="item.downloadVisible"><a class="download-link" target="_blank" href="/download/{{item.Id}}">Download</a></div>
            </div>
            <div class="torrent-progress">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                         ng-style="{width: item.DownloadingPercentage + '%'}">
                        <span class="sr-only">
                            <span ng-bind="item.DownloadingPercentage"></span>
                            {{ item.StateName }}
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <span>{{ item.StateName }} - {{ item.DownloadingPercentage }}%</span>
                <span class="right-info-item">
                    <strong>Size:</strong>
                    <span>{{ item.SizeString }}</span>
                </span>
                <span class="right-info-item">
                    <strong>Created on:</strong>
                    <span>{{ item.CreatedOn }}</span>
                </span>
                <span class="right-info-item">
                    <strong>Created by:</strong>
                    <span>{{ item.CreatedBy }}</span>
                </span>
            </div>
        </td>
    </tr>
</table>