body {
}

.page-sidebar .page-sidebar-menu > li.heading, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading {
    padding: 15px 15px 15px 15px;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}

.page-sidebar-menu > li.heading > h3 {
    color: #9e9e9e;
}

.uppercase {
    text-transform: uppercase !important;
}

.page-content {
    position: relative !important;
}

.items-table-container {
    // background-color: burlywood;
    position: absolute;
    top: 0px;
    right: 19px;
    left: 25px;
    bottom: 21px;

    .items-table-wrapper {
        display: table;
        // background-color: aqua;
        width: 100%;
        height: 100%;

        .inner-row {
            display: table-row;

            .inner-cell {
                display: table-cell;
            }
        }


        .properties-row {
            background-color: ActiveBorder;
        }

        .list-row {
            height: 100%;
        }
    }


    .torrent-info-portlet {
        margin-bottom: 0px;
    }
}


.progress {
    background-color: gainsboro;
}

.torrent-name {
    h4 {
        margin: 0px;
    }
}

.torrent-progress {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-user {
    margin-left: 6px !important;

    .dropdown-toggle {
        padding-right: 10px !important;
        padding-left: 14px !important;
    }
}
