.page-sidebar .page-sidebar-menu > li.heading,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading {
  padding: 15px 15px 15px 15px;
}
.page-sidebar .page-sidebar-menu > li.heading > h3,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}
.page-sidebar-menu > li.heading > h3 {
  color: #9e9e9e;
}
.uppercase {
  text-transform: uppercase !important;
}
.page-content {
  position: relative !important;
}
.items-table-container {
  position: absolute;
  top: 15px;
  right: 16px;
  left: 18px;
  bottom: 14px;
}
.items-table-container tr:not(.selected) {
  cursor: pointer;
}
.items-table-container tr.selected td {
  background-color: lemonchiffon !important;
}
.items-table-container .items-table-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.items-table-container .items-table-wrapper .inner-row {
  display: table-row;
}
.items-table-container .items-table-wrapper .inner-row .inner-cell {
  display: table-cell;
}
.items-table-container .items-table-wrapper .checkbox-td {
  width: 41px !important;
  margin-top: 49px;
  border-right: none;
}
.items-table-container .torrent-info-portlet {
  margin-bottom: 0;
  height: 100%;
  position: relative;
  padding-bottom: 109px;
  overflow-y: hidden !important;
}
.items-table-container .torrent-info-portlet .portlet-body {
  height: 100%;
}
.items-table-container .torrent-info-portlet .portlet-body .tab-content {
  width: 100%;
  bottom: 0px;
  position: absolute;
  top: 91px;
}
.items-table-container .torrent-info-portlet .portlet-body .tab-content .tab-pane {
  height: 100% !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}
.items-table-container .torr-list-header-wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 50%;
  padding-bottom: 16px;
}
.items-table-container .list-divider {
  width: 100%;
  border-bottom: 1px solid #dbd7d7;
}
.items-table-container .top-divider {
  position: absolute;
  top: 33px;
}
.items-table-container > div {
  position: relative;
  height: 100%;
}
.progress {
  background-color: gainsboro;
}
.torrent-name h4 {
  margin: 0px;
}
.torrent-progress {
  margin-top: 5px;
  margin-bottom: 5px;
}
.torrent-progress .progress-striped {
  margin-bottom: 0;
  height: 10px;
}
.dropdown-user {
  margin-left: 6px !important;
}
.dropdown-user .dropdown-toggle {
  padding-right: 10px !important;
  padding-left: 14px !important;
}
.relative-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.h4-wrapper {
  position: absolute;
  top: 0px;
  height: 34px;
  right: 0px;
  left: 0px;
}
.torrents-list-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 34px;
  overflow-y: auto;
}
.torrent-info-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}
.torrent-info-wrapper > div {
  height: 100%;
}
.right-info-item {
  float: right;
  margin-right: 5px;
}
/*# sourceMappingURL=common.css.map */