@using Common.Utils

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Online torrent</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/css")
</head>

<body class="page-header-fixed page-quick-sidebar-over-content">

    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="index.html">
                    <img src="/Metronic/admin/layout/img/logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <form class="search-form search-form-expanded" action="extra_search.html" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>

            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <button style="margin-top:5px" type="submit" class="btn bg-grey-cascade"><i class="fa fa-cogs"></i> Settings</button>
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle hide1" src="/Metronic/admin/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
                                Administrator
                            </span>
                            <i class="fa fa-edit"></i>
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
                    <li class="heading">
                        <h3 class="uppercase">Torrents</h3>
                    </li>
                    <li class="  ">
                        <a href="/all">
                            <i class="fa fa-cloud"></i>
                            <span class="title">All</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="  ">
                        <a href="/downloading">
                            <i class="fa fa-download"></i>
                            <span class="title">Downloading</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/completed">
                            <i class="fa fa-thumbs-up"></i>
                            <span class="title">Completed</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="  ">
                        <a href="/checking">
                            <i class="fa fa-check-square"></i>
                            <span class="title">Checking</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="  ">
                        <a href="/paused">
                            <i class="fa fa-pause"></i>
                            <span class="title">Paused</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Actions</h3>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content" ng-view="">
            </div>
            <div class="page-footer">
                <div class="page-footer-inner">
                    2014 &copy; Metronic by keenthemes.
                </div>
                <div class="page-footer-tools">
                    <span class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>

    @if (Html.IsDebug())
    {
        <script data-main="/Scripts/app.config.js" src="/Scripts/libs/require.js"></script>
    }
    else
    {
        @Html.IncludeVersionedJs("/_build/build.js")
    }
</body>



</html>
