@using Common.Utils

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Online torrent</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/css")
</head>

<body class="page-header-fixed page-quick-sidebar-over-content">

    <div ng-view="" class="ng-container">



    </div>

    @if (Html.IsDebug())
    {
        <script data-main="/Scripts/app.config.js" src="/Scripts/libs/require.js"></script>
    }
    else
    {
        @Html.IncludeVersionedJs("/_build/build.js")
    }
</body>



</html>
